export(tau)
export(dtouch,ptouch,rtouch,qtouch)
export(toufit,score.delta)
export(toureg,predict.toureg) 
export(cooks.dist,gleverage,hvalues)
export(plot.toureg)
export(rgram,touplot)  
S3method(cooks.dist,toureg)
S3method(gleverage,toureg)
S3method(hvalues,toureg)
S3method(qnormal,toureg)
S3method(predict,toureg)
S3method(print,toureg)
S3method(print,summary.toureg)
S3method(print,toufit)
S3method(plot,toureg)
S3method(residuals,toureg)
S3method(rgram,toureg)
S3method(rgram,toufit)
S3method(summary,toureg)
S3method(toureg,formula)
import(MASS,nleqslv,numDeriv,plotrix)
importFrom("stats", "coef", "fitted", "terms",
             "formula", "model.frame", "model.matrix",
             "model.response", "na.omit", "pchisq", "pnorm", "poisson",
             "printCoefmat", "qnorm", "quantile", "xtabs", "optimize", "uniroot")
importFrom("graphics", "abline", "axis", "lines", "mtext", "par",
             "plot", "points", "rect")
importFrom("stats", "cov", "delete.response", "dpois", "glm",
             "glm.fit", "lm", "median", "predict", "qqnorm", "residuals",
             "runif",  "var", "weighted.mean")
importFrom("utils", "data", "head", "tail")
importFrom("stats", ".getXlevels", "glm.control", "is.empty.model",
             "make.link", "model.extract", "model.offset",
             "model.weights", "optim")

